{% extends 'log.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="u-align-right u-clearfix u-palette-5-light-1 u-section-1" id="carousel_d9f4">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1300" data-image-height="731">
            <div class="u-container-layout u-container-layout-1"></div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
              <h2 class="u-custom-font u-font-montserrat u-text u-text-1">Bienvenue sur le site d'inscription de l'institut</h2>
              <div class="u-border-10 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
              <h4 class="u-custom-font u-font-georgia u-text u-text-2">IAI-TOGO<span style="font-weight: 700;"></span>
              </h4>
              <p class="u-custom-font u-font-georgia u-text u-text-3">
                <span style="font-size: 1rem;">
                  <span style="font-weight: 700;">En
application de la décision du Conseil d’Administration de délocaliser l’IAI, la
Représentation du TOGO (IAI-TOGO) a ouvert ses portes le 24 octobre 2002.
L’accord d’établissement entre la République Togolaise et l’Institut Africain
d’Informatique a été signée le 12 mai 2006. <br> L’IAI-TOGO propose actuellement le cycle de formation des ingénieurs de travaux
informatiques (Licence professionnelle en informatique). Au terme des trois
années de formation, les diplômés peuvent poursuivre leurs études supérieures
au siège au GABON ou dans les universités occidentales ou asiatiques (UTBM en
FRANCE, Université-Laval du Québec au CANADA, etc)
                  </span>.
&nbsp;&nbsp;&nbsp;
                </span>
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
background-color: #404040 !important; background-image: linear-gradient(#adcce9, #1a1a1a) !important
}</style>
{% endblock %}
