<footer class="u-clearfix u-footer u-gradient u-footer" id="sec-4613"><div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
  <div class="u-gutter-0 u-layout">
    <div class="u-layout-row">
      <div class="u-align-center-sm u-align-center-xs u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1"><!--position-->
          <div data-position="" class="u-position u-position-1"><!--block-->
            <div class="u-block">
              <div class="u-block-container u-clearfix"><!--block_header-->
                <h5 class="u-block-header u-text u-text-white u-text-1"><!--block_header_content--> Contacts<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                <div class="u-block-content u-text"><!--block_content_content-->
                  <span style="font-size: 1rem;" class="u-text-body-alt-color"> Rue de la Kozah – Nyékonakpoè&nbsp;<br>&nbsp;BP&nbsp;: &nbsp;12456 Lomé-Togo<br> 22 20 47 00&nbsp;<br>&nbsp;<a href="mailto:iaitogo@iai-togo.tg" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">iaitogo@iai-togo.tg</a>&nbsp;
                  </span>
                  <br><!--/block_content_content-->
                </div><!--/block_content-->
              </div>
            </div><!--/block-->
          </div><!--/position-->
        </div>
      </div>
      <div class="u-align-center-sm u-align-right-md u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
        <div class="u-container-layout u-container-layout-2">
          <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="243" data-image-height="208">
            <img src="assets/Accueil/images/iaic.png" class="u-logo-image u-logo-image-1">
          </a>
        </div>
      </div>
      <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
        <div class="u-container-layout u-container-layout-3">
          <h3 class="u-custom-font u-font-georgia u-text u-text-3">
            <a href="http://www.iaitogo.com" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">www.iaitogo.tg</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div></footer>