<header class="u-clearfix u-header" id="sec-d4ac"><div class="u-clearfix u-sheet u-sheet-1">
  <a href="https://nicepage.com/one-page-template" class="u-image u-logo u-image-1" data-image-width="243" data-image-height="208">
    <img src="assets/Accueil/images/iaic.png" class="u-logo-image u-logo-image-1">
  </a>
  <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
    <div class="menu-collapse">
      <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5247"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5247" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-hover-white u-nav-link u-palette-5-dark-2 u-text-active-palette-1-light-1 u-text-hover-palette-1-base u-text-palette-1-light-1" href="/" style="padding: 20px 80px;">ACCUEIL</a>
</li><li class="u-nav-item"><a class="u-button-style u-hover-white u-nav-link u-palette-5-dark-2 u-text-active-palette-1-light-1 u-text-hover-palette-1-base u-text-palette-1-light-1" href="/form" style="padding: 20px 80px;">INSCRIPTION</a>
</li></ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="">ACCUEIL</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">INSCRIPTION</a>
</li></ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>
</div></header>